<html>
	<head>
		<meta charset="utf-8" />
		<title>绵阳餐饮数据可视化</title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}
		</style>
		<script src="/static/jquery-3.6.0.js"></script>
		<script src="/static/echarts.js"></script>
		<script src="/static/bmap.js"></script>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=KWbLsI5oSCdNhiN0UW6MO48Yda4qXgS1"></script>
		<script src="/static/ion.rangeSlider.js"></script>
		<link rel="stylesheet" href="/static/front.css" />
		<link rel="stylesheet" href="/static/ion.rangeSlider.css" />
	</head>
	<body>
		<div id="map_view_border">
			<div id="map_view"></div>
		</div>
		<div id="left_cover"></div>
		<div id="title">绵阳餐饮数据可视化</div>

		<div class="select" id="select_shops_analysis" onclick="switch_to_scatter()">餐馆</div>
		<div class="select" id="select_shops_heat" onclick="switch_to_heat()">热</div>
		<div class="select" id="select_users_analysis" onclick="switch_to_user()">用户</div>
		<div class="filter_view">
			<div id="score_filter" class="filter">
				<font style="font-size: 20px; color: #333333;">评分</font>
				<input type="text" class="js-range-slider slider_post" id="slider_score" />
			</div>
			<div id="price_filter" class="filter">
				<font style="font-size: 20px; color: #333333;">价格</font>
				<input type="text" class="js-range-slider slider_post" id="slider_price" />
			</div>
			<div id="clock_filter" class="filter">
				<font style="font-size: 20px; color: #333333;">营业时间</font>
				<input type="text" class="js-range-slider slider_post" id="slider_clock" />
			</div>
			<div id="pop_filter" class="filter">
				<font style="font-size: 20px; color: #333333;">评论数量</font>
				<input type="text" class="js-range-slider slider_post" id="slider_threshold" />
			</div>
			<div style="left: 20px;top: 20px;position: relative;width: 300px;height: 20px;">
				<input type="text" id="ftxt" />
				<div id="uip_btn" onclick="user_input()">OK</div>
			</div>
			<div id="labels_container">
				<div class="label" onclick="filter_kw('火锅')">火锅</div>
				<div class="label" onclick="filter_kw('烧烤')">烧烤</div>
				<div class="label" onclick="filter_kw('酒店')">酒店</div>
				<div class="label" onclick="filter_kw('蛋糕')">蛋糕</div>
				<div class="label" onclick="filter_kw('川菜')">川菜</div>
				<div class="label" onclick="filter_kw('面')">面</div>
				<div class="label" onclick="filter_kw('粉')">粉</div>
				<div class="label" onclick="filter_kw('干锅')">干锅</div>
				<div class="label" onclick="filter_kw('烤肉')">烤肉</div>
				<div class="label" onclick="filter_kw('鱼')">鱼</div>
				<div class="label" onclick="filter_kw('自助')">自助</div>

			</div>

		</div>
		<div class="filter_view" id="user_filter_view">
			<div id="cluster_promote" style="position: relative;left: 20px;top: 10px;">Clusters</div>
			<div id="cluster_btn_container"></div>
			<script>
			for(i=0;i<16;i++) 
				$("#cluster_btn_container").append($('<div class="cluster_btn" onclick="select_cluster('+i+')">'+i+'</div>'));
			</script>
			<div id="user_promote" style="position: relative;left: 20px;top: 20px;height: 20px">User: 
			<div class="user_label" style="left: 250px;top:-5px;" onclick="show_typical()">typical</div>
			</div>
			<div id="user_list">
			</div>
			<div id="u_count"> Please select a cluster. </div>
		</div>
		<div id="word_cloud_view">
			<img src="/wordcloud" id="wc_img" />
			<div id="meal_only" onclick="meals_only()">菜品相关</div>
		</div>

		<div class="detail_view_border" id="shop_detail_view_border" onclick="bring_view_2top('shop')">
			<div id="detail_view">
				<div id="text_title">ShopTitle</div>
				<div id="text_sub">ID:0</div>
				<div id="stars_box">
					<div id="stars_cutter">
						<img id="stars" src="/static/stars.png" />
					</div>
					<div id="score">1.5</div>
				</div>
				<div id="avgp">均价1.5</div>
				<div class="info_box">
					<font>地址</font>
					<div id="add_txt" style="float: left;"></div>
				</div>
				<div class="info_box">
					<font>电话</font>
					<div id="tel_txt"></div>
				</div>
				<div id="star_pie"></div>
				<div id="comments_view" class="info_box">
					<div class="info_box comment">测试1</div>
					<div class="info_box comment">测试2</div>
					<div class="info_box comment">测试3</div>
				</div>
			</div>
			<div class="dv_close_btn" onclick="close_shop_detail()">×</div>
		</div>
		<div class="detail_view_border" id="user_detail_view_border" onclick="bring_view_2top('user')">
			<div id="u_detail_view">
				<div id="u_text_title">ID:12345676</div>
				<div id="u_subtxt" style="position: absolute;font-size: 17px;color: #333333;right:10px;top: 5px;">In cluster 未知, 0 comments. </div>
				<div id="price_dist"></div>
				<div id="time_dist"></div>
				<div id="u_comments_view" class="info_box">
					<div class="info_box comment">测试1</div>
					<div class="info_box comment">测试2</div>
					<div class="info_box comment">测试3</div>
				</div>
				
			</div>
			<div class="dv_close_btn" onclick="close_user_detail()">×</div>
		</div>
		<script src="/static/front_def.js"></script>
		<script src="/static/front_exe.js"></script>
	</body>
</html>
