body {
	z-index: 0;
	height: 1080px;
	width: 1920px;
	background-color: #eee;
	overflow: hidden;
}

#title {
	position: fixed;
	top: 20px;
	left: 40px;
	font-size: 25px;
	font-family: "agency fb";
	color: #333;
	text-align: center;

}

#left_cover {
	position: fixed;
	height: 120px;
	width: 370px;
	top: 10px;
	left: 20px;
	border-radius: 10px;
	box-shadow: #999 1px 1px 4px;
	background-color: rgba(255, 255, 255, 1);
}

.select {
	user-select: none;
	position: fixed;
	left: 20px;
	top: 70px;
	background-color: #fff;
	height: 50px;
	width: 80px;
	border-radius: 10px;
	box-shadow: #999 1px 1px 4px;
	transition: all 0.2s ease-in-out;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}

.select_selected {
	background-color: dodgerblue;
	color: white;
}

#select_shops_analysis {
	left: 30px;
}

#select_shops_heat {
	left: 120px;
	top: 90px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	border-radius: 15px;
}

#select_users_analysis {

	left: 300px;
}



.filter_view {
	user-select: none;
	position: fixed;
	left: 20px;
	top: 140px;
	background-color: #fff;
	height: 440px;
	width: 370px;
	border-radius: 5px;
	box-shadow: #999 1px 1px 4px;
}

#user_filter_view {
	display: none;
	box-shadow: none;
}

#word_cloud_view {
	position: fixed;
	left: 20px;
	top: 590px;
	background-color: #fff;
	height: 350px;
	width: 370px;
	border-radius: 5px;
	box-shadow: #999 1px 1px 4px;
	overflow: hidden;
}

#map_view_border {
	position: fixed;
	/* height: 920px; */
	height: 1080px;
	width: 1920px;
	/* width: 1480px; */
	/* top: 20px; */
	/* left: 410px; */
	border-radius: 10px;
	box-shadow: #666 2px 2px 4px;
	overflow: hidden;
}

#map_view {
	height: 100%;
	width: 100%;
}

.detail_view_border {
	position: fixed;
	height: 880px;
	width: 480px;
	top: 40px;
	right: -550px;
	border-radius: 10px;
	box-shadow: #666 2px 2px 4px;
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

#detail_view {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 2%;
	height: 98%;
	width: 90%;
}
#u_detail_view {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 2%;
	height: 98%;
	width: 90%;
}
#u_detail_view div{
	position: relative;
	top: 0px;
	bottom:20px
}
#u_comments_view{
	height: 210px;
	overflow-y: scroll;
	background-color: #f0f0f0;
}
#price_dist{
	height: 250px;
	width: 440px;
	/* background-color: #006CFA; */
}
#time_dist{
	height: 250px;
	width: 440px;
	/* background-color: #20B426; */
}

.dv_close_btn {
	user-select: none;
	position: absolute;
	height: 50px;
	width: 50px;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
	background-color: #fff;
	color: rgb(255, 52, 52);
	border-radius: 25px;
	box-shadow: #bbb 1px 1px 4px;
	line-height: 45px;
	text-align: center;
	font-size: 30px;
}

.dv_close_btn:hover {
	background-color: rgb(255, 52, 52);
	color: #fff;
}

#text_title {
	font-size: 35px;
	color: #222;
}
#u_text_title {
	font-size: 25px;
	color: #666;
}

#text_sub {
	position: absolute;
	right: 0px;
	top: -10px;
	font-size: 10px;
	color: #999;
}

#stars_box {
	position: absolute;
	width: 150px;
}

#stars_cutter {
	position: absolute;
	height: 30px;
	width: 100px;
	overflow: hidden;
}

#stars {
	position: absolute;
	height: 30px;
	width: 100px;
}

#score {
	position: absolute;
	color: #666;
	right: 0px;
	width: 40px;
	line-height: 30px;
}

#avgp {
	position: absolute;
	right: 0;
}

.filter {
	position: relative;
	height: 80px;
	width: 330px;
	left: 20px;
	top: 0px;
}

.slider_post {
	height: 50px;
}

.info_box {
	position: relative;
	top: 40px;
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: #bbb 1px 1px 4px;
	overflow: hidden;
}

.info_box font {
	color: #666666;
	float: left;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

#price_filter {}

#clock_filter {}

#pop_filter {}

#star_pie {
	position: relative;
	top: 30px;
	left: 50px;
	height: 330px;
	width: 330px;
}

#comments_view {
	height: 300px;
	overflow-y: scroll;
	background-color: #f0f0f0;
}

#meal_only {
	transition: all 0.2s ease-in-out;
	position: absolute;
	text-align: center;
	line-height: 30px;
	bottom: 5px;
	background-color: #333333;
	color: white;
	width: 60px;
	height: 30px;
	font-size: 10px;
	border-radius: 5px;
	left: 1%;

}

.comment {
	top: 0;
	width: 99%;
	margin: 3px;
	height: auto;
	min-height: 20px;
	line-height: 20px;
	font-size: 15px;
	color: #333333;
}

#shop_detail_view_border {
	z-index: 1;
}

#user_detail_view_border {
	z-index: 2;
	right: -550px;
	height: 800px;
	top: 80px;
}

#ftxt {
	position: absolute;
	width: 100px;
	height: 20px;
}

#labels_container {
	width: 340px;
	height: 60px;
	background-color: #f0f0f0;
	left: 15px;
	position: relative;
	float: left;
	top: 30px;
	border-radius: 4px;
	overflow-y: scroll;
}

.label {
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	font-size: 15px;
	text-align: center;
	margin: 4px;
	width: auto;
	max-width: 60px;
	height: 20px;
	background-color: white;
	border-radius: 3px;
	box-shadow: #999 1px 1px 4px;
}

.label:hover {
	color: white;
	background-color: dodgerblue;
}

.label_cus {
	background-color: cadetblue;
	color: white;
}

#uip_btn {
	color: white;
	background-color: dodgerblue;
	font-size: 10px;
	width: 30px;
	height: 20px;
	position: absolute;
	left: 103px;
	text-align: center;
	border-radius: 2px;
}

#cluster_btn_container {
	position: relative;
	top: 10px;
	left: 15px;
	width: 340px;
	height: 170px;
	border-radius: 4px;
	background-color: #f0f0f0;
}

.cluster_btn {
	position: relative;
	float: left;
	margin: 5px;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: #999 1px 1px 4px;
	line-height: 45px;
	text-align: center;
	font-size: 25px;
	color: #666;
}

.cluster_btn:hover {
	transform: scale(1.1);
}

#user_list {
	position: relative;
	top: 30px;
	left: 15px;
	width: 340px;
	height: 170px;
	border-radius: 4px;
	background-color: #f0f0f0;
	overflow-y: scroll;
}

.user_label {
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
	font-size: 15px;
	text-align: center;
	margin: 4px;
	width: auto;
	height: 22px;
	background-color: white;
	color: #333;
	border-radius: 3px;
	box-shadow: #999 1px 1px 4px;
}

.user_label:hover {
	background-color: #1E90FF;
	color: white;
}
.s_l_txt{
	font-size: 12px;
	color: #666;
}

#user_promote div {
	position: absolute;
	top: 0;
	left: 45px;
}
#u_count{
	position: relative;
	font-size: 14px;
	top: 30px;
	left: 20px;
}